{
	"command_char": "!",
	"backends": [
		{
			"backend_id": "IRC-Freenode",
			"backend_type": "Irc",
			"config": {
				"nickname": "IrcBot-test",
				"server": "irc.freenode.net",
				"channels": ["#test"]
			}
		}
	]
}
