{
	"command_char": "!",
	"log_folder": "logs",
	"sources": {
		"IRC-Freenode": {
			"source_type": "Irc",
			"config": {
				"nickname": "IrcBot-test",
				"server": "irc.freenode.net",
				"channels": ["#test"]
			}
		},
		"stdin": {
			"source_type": "Stdin"
		}
	},
	"plugins": {
		"randomchat": {
			"plugin_type": "RandomChat",
			"priority": 0,
			"subscriptions": {
				"IRC-Freenode": ["TextMessage"]
			},
			"config": {
				"enabled": true,
				"probability": 50
			}
		}
	}
}
