{
	"command_char": "!",
	"log_folder": "logs",
	"sources": {
		"IRC-Freenode": {
			"source_type": "Irc",
			"config": {
				"nickname": "IrcBot-test",
				"server": "irc.freenode.net",
				"channels": ["#test"]
			}
		},
		"slack": {
			"source_type": "Slack",
			"config": {
				"token": "insert-token-here"
			}
		},
		"stdin": {
			"source_type": "Stdin"
		}
	},
	"modules": {
		"randomchat": {
			"module_type": "RandomChat",
			"priority": 0,
			"subscriptions": {
				"IRC-Freenode": ["TextMessage"],
				"core": ["Timer"]
			},
			"config": {
				"enabled": true,
				"probability": 50
			}
		},
		"pipe": {
			"module_type": "MsgPipe",
			"priority": 0,
			"subscriptions": {
				"IRC-Freenode": ["TextMessage"],
				"slack": ["TextMessage"]
			},
			"config": {
				"source1": "IRC-Freenode",
				"channel1": "#test",
				"source2": "slack",
				"channel2": "freenode"
			}
		}
	}
}
